NEXT_PUBLIC_QNS_CONTRACT=0x001d4668f5621ee6211C396243faFe163A057516
NEXT_PUBLIC_QNNS_CONTRACT=0x001d4668f5621ee6211C396243faFe163A057516
NEXT_PUBLIC_QNS_ANCHOR_REGISTRY=0x000041d9d377ab357DD36e3205C9fB53fda40CC7
NEXT_PUBLIC_QNS_EXAMPLE_MODULE=0x002BA558B2adea163F8d78B2d44ABec15622EdB6
NEXT_PUBLIC_QNS_SUBGRAPH_URL=https://graph.quai.network/subgraphs/name/qns/qnns
NEXT_PUBLIC_QNS_IPFS_GATEWAY_URL=https://ipfs.qu.ai/ipfs/
NEXT_PUBLIC_RPC_URL=https://rpc.quai.network/cyprus1
